#footer{
    background: linear-gradient(0deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a {
    color: white;
}

header img{
    width: 80px;

}


.btn-platzi{
background-color: #97c93e;
color: white;
}

.btn-platzi:hover{
    background-color: #82ad36;
}
#main .carousel-inner img{
object-fit: cover;
max-height: 70vh;
filter: grayscale(70%);
}

.text-platzi{
    color: #97c93e !important;
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,  0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

.place-time img{
    max-width: 100%;
}
.place-time {
    background-color:#343a40; 
    color: white;
}